@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: all 0.5s ease;
}
:root{
    --celeste: #21B8CC;
    --gris-oscuro: #5D5D5D;
    --gris-claro: D9D9D9;
}

html{
    scroll-behavior: smooth;
}

body{
    opacity: 0;
    transition: opacity 0.5s;
}

/* Header */
.navbar {
    height: 200px;
    transition: all 0.5s;
}

.nav-dark {
    color: #5D5D5D;
}
#navbarNav {
    justify-content: flex-end;
}

.navbar-scrolled {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
}

.navbar-brand {
    width: 100px;
}

.nav-link {
    font-size: 1rem;
}

.nav-link:hover {
    color: inherit;
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link {
    color: white !important;
}

.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #5D5D5D !important;
}
.icon-dark {
    color:black !important;
}
.fas {
    font-size: 2rem;
}
.fa-bars {
    color: white;
}


/* Banner */

.banner--home {
    background: url(banner_home.png);
    background-size: cover;
    height: auto;
    position: relative;
    z-index: 1;
    padding-top: 30rem;
}
.banner--enac{
    background: url(banner_enac.png);
    background-size: cover;
}
.banner--autonoma{
    background: url(banner_autonoma.png);
    background-size: cover;
}
.banner--aiep{
    background: url(banner_aiep.png);
    background-size: cover;
}
.banner--inacap{
    background: url(banner_inacap.png);
    background-size: cover;
}
.banner_texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
.banner_texto--1{
    font-weight: 400;
}
.banner_texto--2{
    font-weight: 700;
}
.banner_texto--3{
    font-size: 100px;
    font-weight: 700;
}

/* Quienes somos */

.quienes-somos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    padding: 70px 60px 70px 60px;
    gap: 0px;
}
.quienes-somos_texto{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    padding: 10px;
    gap: 30px;
}
.quienes-somos_texto--titulo{
    color: #6B6B6B;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.quienes-somos_texto--titulo span{
    color: #21B8CC;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.quienes-somos_texto--descripcion{
    display: flex;
    flex-direction: column;
    text-align: justify-left;
    width: 100%;
    color: #6B6B6B;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%; 
}
.quienes-somos_contenedor-imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 35rem;
    padding: 10px;
    background-image: url(quienes-somos.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}
.quienes-somos_imagen {
    width: 100%;
    height: 100%;
    
}

/* Servicios */

.nuestros-servicios{
    display: flex;
    flex-direction: column;
    background: url(nuestros-servicios_fondo.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 100px 40px 100px 40px;
}
.nuestros-servicios_titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 40px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    color: #FFF;
    font-size: 60px;
    line-height: normal;
    text-transform: uppercase;
}
.nuestros-servicios_titulo p{
    font-weight: 400;
}
.nuestros-servicios_titulo span{
    font-weight: 700;
}
.nuestros-servicios_contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 40px;
}
.nuestros-servicios_contenido--fila{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 40px;
}
.nuestros-servicios_contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #6B6B6B;
    border-radius: 5px;
    width: 40%;
    height: auto;
    padding: 70px 10px 70px 10px;
    gap: 5px;
}
.nuestros-servicios_contenedor--imagen{
    display: flex;
    width: 40%;
    height: auto;
    padding: 20px;
}
.nuestros-servicios_contenedor--imagen img{
    width: 80%;
    height: auto;
}
.nuestros-servicios_contenedor--texto{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 70%;
    color: #FFF;
    font-family: Poppins;
    font-style: normal;
    padding: 5px;
    gap: 20px;
}
.nuestros-servicios_contenedor--texto h3{
font-weight: 700;
text-transform: uppercase;
}
.nuestros-servicios_contenedor--texto p{
font-weight: 400;
}

/* Nuestros clientes */

.nuestros-clientes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 100px 40px 100px 40px;
    justify-content: center;
}
.nuestros-clientes_titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 40px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    color: #6B6B6B;
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.nuestros-clientes_titulo span{
    color: #21B8CC;
    font-weight: 700;
}
.nuestros-clientes_contenido{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    height: auto;
}
.nuestros-clientes_contenido--fila{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    gap: 20px;
}
.nuestros-clientes_contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 5px;
    width: auto;
    height: 100%;
}
.nuestros-clientes_imagen {
    display: block;
    width: 100%;
    height: 100%;
}
.enac, .autonoma, .aiep, .inacap {
    display: block;
    overflow: hidden;
}
.enac a,
.autonoma a,
.aiep a,
.inacap a {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.enac{
    display: block;
}
.enac a:hover{
    content: url(enac_hover.png);
    transition: all 25s ease-in;
    width: 100%;
    height: auto;
}
.autonoma{
    display: block;
}
.autonoma a:hover{
    content: url(autonoma_hover.png);
    transition: all 25s ease-in;
    width: auto;
    height: 100%;
}
.aiep{
    display: block;
}
.aiep a:hover{
    content: url(aiep_hover.png);
    transition: all 25s ease-in;
    width: 100%;
    height: auto;
}
.inacap{
    display: block;
}
.inacap a:hover{
    content: url(inacap_hover.png);
    transition: all 25s ease-in;
    width: 100%;
    height: auto;
}
.casos-exito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 40px;
}
.casos-exito_titulo{
    padding: 5px;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    text-transform: uppercase;
    color: #6B6B6B;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.casos-exito_titulo span{
    color: #21B8CC;
    font-weight: 700;
}
.casos-exito_clientes{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 10px;
}
.casos-exito_contenedor-logos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    grid-gap: 40px;
}
.casos-exito_logo{
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
}
.casos-exito_logo img{
    width: 100%; 
    height: auto;
}

/* Contacto */

.contacto{
    display: flex;
    flex-direction: column;
    background: #5E5E5E;
    padding: 40px 160px 40px 160px;
    width: 100%;
    height: auto;
}
.contacto_titulo--1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 50px;
    color: #FFF;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.contacto_titulo--2{
    visibility: hidden;
    width: 0;
}

.contacto_contenido{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 30px;
    gap: 30px;
}
.contacto_informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 10px;
}
.contacto_informacion-titulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 162.5%; /* 40.625px */
    text-transform: uppercase;
    width: 100%;
    height: auto;
}
.contacto_informacion-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 30px;
}
.contacto_icono{
    display:flex;
    color: white;
    font-size: 40px;
}
.contacto_texto{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}
.contacto_texto--titulo{
    color: #21B8CC;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.contacto_formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: left;
    padding-top: 5px;
    gap: 10px;
}
.contacto_formulario input{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: #474646;
    box-shadow: none;
    transition: all 0.5s ease;
    border-style: none;
}
.contacto_formulario textarea{
    width: 100%;
    height: 316px;
    flex-shrink: 0;
    background: #474646;
    border-style: none;
}
.contacto_formulario input::placeholder, textarea::placeholder{
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.5;
}
.contacto_formulario textarea,[type="text"]{
    font-size: 20px;
    color: #afadad;
    padding: 10px;
}
.contacto_formulario input[type="submit"]{
    width: 30%;
    height: auto;
    padding: 15px;
    background: #21B8CC;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-style: none;
}
.contacto_formulario input[type="submit"]:hover{
    background: #FFF;
    color: #21B8CC;
}

/* Footer */

.footer{
    background: #21B8CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 70px 60px 80px 60px;
    gap: 40px;
}
.footer_contenido{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 50px;
}
.footer_encabezado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}
.footer_encabezado-izq{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35%;
    height: auto;
}
.footer_contactanos-titulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px;
    width: 40%;
    height: auto;
}
.footer_columna-izq{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 80px;
}
.footer_etiza{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.footer_texto{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer_redes-sociales{
    color: #fff;
    font-size: 40px;
    gap: 60px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}
.footer_redes-sociales i{
    border: 4px solid white;
    border-radius: 50px;
    padding: 15px;
}
.footer_redes-sociales a{
    color: #fff;
}
.footer_redes-sociales i:hover{
    background: white;
    color: #21B8CC;
}
.footer_columna-der{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px
}
.footer_contactanos-izq{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
}
.footer_contactanos-der{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
}
.footer_contactanos-texto{
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 5px;
}
.footer_contactanos-texto span{
    font-weight: bolder;
}
.footer_titulo--2{
    width: 0;
    visibility: hidden;
}
/*_____________________________________________________________

ENAC y AUTONOMA______________

_________________________________________________________*/

/*descripcion*/

.descripción{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
padding:  100px 70px;


}

.descripción p{
    color: #6B6B6B;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}


/*animaciones*/

.animaciones{
    position: relative;
    max-height: auto;
    background: url(imagen3.png);
    background-size: cover;
    background-position: center;
    padding: 30px 0 30px 0;
}

.titulo_animaciones{
    text-align: center;
}

.titulo_animaciones span{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.titulo_animaciones h2{
    color: #FFF;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.videos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-video{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.texto_animaciones{
    display: flex;
    flex-direction: column;
    padding:  30px 70px;
    width: 100%;
}

.texto_animaciones p{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}

/*interactivo*/

.titulo_interactivo{
    text-align: center;
    padding: 40px;
}

.titulo_interactivo h2{
    color: #21B8CC;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.titulo_interactivo span{
    color: #666;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.cuadro_interactivo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genially{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 30px;
}

.texto_interactivo{
    display: flex;
    flex-direction: column;
    padding:  50px 70px;
    width: 100%;
}

.texto_interactivo p{
    color: #6B6B6B;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}


/*infografia*/

.titulo_infografia{
    text-align: center;
    padding: 40px;
}

.titulo_infografia h2{
    color: #21B8CC;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.pdf{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.texto_infografia{
    display: flex;
    flex-direction: column;
    padding:  50px 70px;
    width: 100%;
}

.texto_infografia p{
    color: #6B6B6B;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}

.pdf_cuadro img{
    transition: transform 0.2s;
}

.pdf_cuadro img:hover{
    transform: scale(0.9); 
}




/*apuntes*/

.titulo_apuntes{
    text-align: center;
    padding: 40px;
}

.titulo_apuntes h2{
    color: #5E5E5E;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.titulo_apuntes span{
    color: #21B8CC;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.texto_apuntes{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:  50px 70px;
}

.texto_apuntes p{
    color: #6B6B6B;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}

/*_____________________________________________________________

AIEP______________

_________________________________________________________*/

.ruta{
    height: auto;
    background: url(imagen3.png);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}

.titulo_ruta{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 40px 0;
}

.titulo_ruta h2{
    color: #fff;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.titulo_ruta span{
    color: #fff;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.rutadeaprendizaje{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story{
    width: 1200px;
    height: 660px;
}

.texto_ruta{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:  50px 70px;
}

.texto_ruta p{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.5%; /* 32.5px */
}


/*_____________________________________________________________

INACAP______________

_________________________________________________________*/




.titulo_articulate{
    width: 100%;
    height: 246px;
    display: flex;
    flex-direction: column;
    padding: 56px 0;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.titulo_articulate h2{
    color: #666;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.titulo_articulate span{
    color: #21B8CC;
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

/*_____________________________________________________________

______________TABLET______________

_________________________________________________________*/




@media (max-width: 1024px){

/*H E A D E R*/
    /* Banner */

    .banner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 300px 20px 150px 20px;
    }
    .banner--home {
        background: url(banner_home.png);
        background-size: cover;
    }
    .banner--enac{
        background: url(banner_enac.png);
        background-size: cover;
    }
    .banner--autonoma{
        background: url(banner_autonoma.png);
        background-size: cover;
    }
    .banner--aiep{
        background: url(banner_aiep.png);
        background-size: cover;
    }
    .banner--inacap{
        background: url(banner_inacap.png);
        background-size: cover;
    }
    .banner_texto {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
    }
    .banner_texto--1{
        font-size: 20px;
    }
    .banner_texto--2{
        font-weight: 20px;
        font-weight: 50;
        font-style: bold;
    }
    .banner_texto--3{
        font-size: 50px;
        font-weight: bold;
    }

    /* Quienes somos */

    .quienes-somos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        background: white;
        padding: 50px;
        gap: 3rem;
    }
    .quienes-somos_texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: 70%;
        padding: 5px;
        gap: 1rem;
    }
    .quienes-somos_texto--titulo{
        color: #6B6B6B;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .quienes-somos_texto--titulo span{
        color: #21B8CC;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .quienes-somos_texto--descripcion{
        display: flex;
        flex-direction: column;
        text-align: justify-left;
        width: 100%;
        color: #6B6B6B;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 162.5%; 
    }
    .quienes-somos_contenedor-imagen{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 26rem;
        padding: 5px;
    }
    .quienes-somos_imagen {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    /* Servicios */

    .nuestros-servicios{
        display: flex;
        flex-direction: column;
        background: url(nuestros-servicios_fondo.png);
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 60px 10px 60px 10px;
    }
    .nuestros-servicios_titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 20px 5px 80px 5px;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        color: #FFF;
        font-size: 3rem;
        line-height: normal;
        text-transform: uppercase;
    }
    .nuestros-servicios_titulo p{
        font-weight: 400;
    }
    .nuestros-servicios_titulo span{
        font-weight: 700;
    }
    .nuestros-servicios_contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 30px;
    }
    .nuestros-servicios_contenido--fila{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .nuestros-servicios_contenedor{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #6B6B6B;
        border-radius: 5px;
        width: 70%;
        height: auto;
        padding: 30px 10px 30px 10px;
        gap: x;
        text-align: center;
    }
    .nuestros-servicios_contenedor--imagen{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
        height: auto;
        padding: 10px;
    }
    .nuestros-servicios_contenedor--imagen img{
        width: 80%;
        height: auto;
        text-align: center;
    }
    .nuestros-servicios_contenedor--texto{
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 70%;
        color: #FFF;
        font-family: Poppins;
        font-style: normal;
        padding: 5px;
        gap: 20px;
    }
    .nuestros-servicios_contenedor--texto h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    }
    .nuestros-servicios_contenedor--texto p{
    font-weight: 200;
    font-size: 16px;
    }

    /* Nuestros clientes */

    .nuestros-clientes{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 60px 20px 60px 20px;
        justify-content: center;
    }
    .nuestros-clientes_titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 30px;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        color: #6B6B6B;
        font-size: 3rem;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .nuestros-clientes_titulo span{
        color: #21B8CC;
        font-weight: 700;
    }
    .nuestros-clientes_contenido{
        display: flex; 
        flex-direction: column;
        padding: 10px;
        width: 100%;
        height: auto;
    }
    .nuestros-clientes_contenido--fila{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 100%;
        gap: 10px;
    }
    .nuestros-clientes_contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px;
        width: auto;
        height: 100%;
    }
    .nuestros-clientes_imagen {
        width: 100%;
        height: 100%;
        transition: transform 0.25s ease-in;
    }
    .enac{
        display: block;
    }
    .enac a:hover{
        content: url(enac_hover.png);
        transition: all 25s ease-in;
        width: 100%;
        height: auto;
    }
    .autonoma{
        display: block;
    }
    .autonoma a:hover{
        content: url(autonoma_hover.png);
        transition: all 25s ease-in;
        width: 100%;
        height: auto;
    }
    .aiep{
        display: block;
    }
    .aiep a:hover{
        content: url(aiep_hover.png);
        transition: all 25s ease-in;
        width: 100%;
        height: auto;
    }
    .inacap{
        display: block;
    }
    .inacap a:hover{
        content: url(inacap_hover.png);
        transition: all 25s ease-in;
        width: 100%;
        height: auto;
    }
    .casos-exito{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .casos-exito_titulo{
        text-align: center;
        font-family: Poppins;
        font-size: 3rem;
        font-style: normal;
        text-transform: uppercase;
        color: #6B6B6B;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    .casos-exito_titulo span{
        color: #21B8CC;
        font-weight: 700;
    }
    .casos-exito_clientes{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .casos-exito_contenedor-logos{
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);;
        grid-gap: 20px;
    }
    .casos-exito_logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
    }
    .casos-exito_logo img{
        width: 200px; 
        height: auto;
    }

    /* Contacto */

    .contacto{
        display: flex;
        flex-direction: column;
        background: #5E5E5E;
        padding: 40px;
        width: 100%;
        height: auto;
    }
    .contacto_titulo--2{
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 30px;
        color: #FFF;
        font-family: Poppins;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    .contacto_titulo--1{
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
    }
    .contacto_contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        gap: 35px;
    }
    .contacto_informacion{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        gap: 10px;
    }
    .contacto_informacion-titulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5rem;
        color: #FFF;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 162.5%; /* 40.625px */
        text-transform: uppercase;
        width: 100%;
        height: auto;
    }
    .contacto_informacion-contenedor{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 30px;
    }
    .contacto_icono{
        display:flex;
        color: white;
        font-size: 40px;
    }
    .contacto_texto{
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
    }
    .contacto_texto--titulo{
        color: #21B8CC;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
    }
    .contacto_formulario{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
        justify-content: center;
        align-items: left;
        padding-top: 5px;
        gap: 10px;
    }
    .contacto_formulario input{
        width: 100%;
        height: auto;
        flex-shrink: 0;
        background: #474646;
        box-shadow: none;
        transition: all 0.5s ease;
        border-style: none;
    }
    .contacto_formulario textarea{
        width: 100%;
        height: 316px;
        flex-shrink: 0;
        background: #474646;
        border-style: none;
    }
    .contacto_formulario input::placeholder, textarea::placeholder{
        color: #FFF;
        text-align: left;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        opacity: 0.5;
    }
    .contacto_formulario textarea,[type="text"]{
        font-size: 20px;
        color: #afadad;
        padding: 10px;
    }
    .contacto_formulario input[type="submit"]{
        width: 50%;
        height: auto;
        padding: 15px;
        background: #21B8CC;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-size: 1rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-style: none;
    }
    .contacto_formulario input[type="submit"]:hover{
        background: #FFF;
        color: #21B8CC;
    }

    /* Footer */

    .footer{
        background: #21B8CC;
        display: grid;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 70px 0 70px 0;
        margin: 0;
    }
    .footer_contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 50px;
    }
    .footer_encabezado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 0;
        height: 0;
    }
    .footer_encabezado-izq{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 0%;
        height: auto;
    }
    .footer_contactanos-titulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 5px;
        width: 40%;
        height: auto;
    }
    .footer_columna-izq{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding:0;
        text-align: center;
    }
    .footer_etiza{
        display: flex;
        flex-direction: row;
        gap: 5rem;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .footer_etiza-logo{
        padding: 0;
    }
    .logo_e{
        width: 8rem;
        height: auto;
    }
    .footer_texto{
        width: 60%;
        color: #FFF;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        text-align: center;
    }
    .footer_redes-sociales{
        color: #fff;
        font-size: 5rem;
        gap: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
    }
    .footer_redes-sociales i{
        border: 5px solid white;
        border-radius: 4rem;
        padding: 10px;
    }
    .footer_redes-sociales a{
        color: #fff;
    }
    .footer_redes-sociales i:hover{
        background: white;
        color: #21B8CC;
    }
    .footer_columna-der{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        gap: 3rem;
    }
    .footer_contactanos-izq{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        justify-content: left;
        text-align: left;
    }
    .footer_contactanos-der{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: left;
        text-align: left;
    }
    .footer_contactanos-texto{
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        gap: 5px;
        text-align: left;
    }
    .footer_contactanos-texto span{
        font-weight: bolder;
    }
    .footer_titulo--1{
        width: 0;
        visibility: hidden;
    }
    .footer_titulo--2{
        width: 100%;
        visibility: visible;
    }

/*_____________________________________________________________

______________ENAC Y AUTONOMA______________

_________________________________________________________*/

.pdf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*_____________________________________________________________

______________AIEP______________

_________________________________________________________*/


.ruta{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.rutadeaprendizaje{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.story{
    width: 700px;
    height: 400px;
}

/*_____________________________________________________________

______________Inacap______________

_________________________________________________________*/ 

.texto-banner img{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


}

/*_____________________________________________________________

______________T E L E F O N O______________

_________________________________________________________*/ 


@media (max-width:410px) {

    .header_contenedor {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        width: 100%;
        gap: 1rem;
        overflow: hidden;
    }
    .header_contenedor-logo{
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: center;
    }
    .header_logo {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    .header_logo img {
       width: 100%;
       height: auto;
    }
    .header_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 0;
        text-transform: uppercase;
        font-size: small;
        font-size: xx-small;
        z-index: 0;
    }
    .nav_links li a{
        position: relative;
        transition: all 0.2s;
    }
    .nav_links li a:hover{
        font-weight: bold;
    }
    .nav_links a:visited {
        color: inherit;
        text-decoration: inherit;
    }
    /* Banner */

    .banner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 300px 20px 150px 20px;
    }
    .banner--home {
        background: url(banner_home.png);
        background-size: cover;
    }
    .banner--enac{
        background: url(banner_enac.png);
        background-size: cover;
    }
    .banner--autonoma{
        background: url(banner_autonoma.png);
        background-size: cover;
    }
    .banner--aiep{
        background: url(banner_aiep.png);
        background-size: cover;
    }
    .banner--inacap{
        background: url(banner_inacap.png);
        background-size: cover;
    }
    .banner_texto {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
    }
    .banner_texto--1{
        font-size: 16px;
    }
    .banner_texto--2{
        font-weight: 16px;
        font-weight: 100;
        font-style: bold;
    }
    .banner_texto--3{
        font-size: 23px;
        font-weight: bold;
    }

    /* Quienes somos */

    .quienes-somos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        background: white;
        padding: 30px;
        padding-bottom: 4rem;
        gap: 3rem;
    }
    .quienes-somos_texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: 100%;
        padding: 2px;
        gap: 1rem;
    }
    .quienes-somos_texto--titulo{
        color: #6B6B6B;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .quienes-somos_texto--titulo span{
        color: #21B8CC;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .quienes-somos_texto--descripcion{
        display: flex;
        flex-direction: column;
        text-align: justify-left;
        width: 100%;
        color: #6B6B6B;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 162.5%; 
    }
    .quienes-somos_contenedor-imagen{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 20rem;
        padding: 5px;
    }
    .quienes-somos_imagen {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    /* Servicios */

    .nuestros-servicios{
        display: flex;
        flex-direction: column;
        background: url(nuestros-servicios_fondo.png);
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 10px 50px 10px;
    }
    .nuestros-servicios_titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 20px 5px 60px 5px;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        color: #FFF;
        font-size: 3rem;
        line-height: normal;
        text-transform: uppercase;
    }
    .nuestros-servicios_titulo p{
        font-weight: 400;
    }
    .nuestros-servicios_titulo span{
        font-weight: 700;
    }
    .nuestros-servicios_contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 30px;
    }
    .nuestros-servicios_contenido--fila{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .nuestros-servicios_contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #6B6B6B;
        border-radius: 5px;
        width: 90%;
        height: auto;
        padding: 30px 10px 30px 10px;
        gap: x;
        text-align: center;
    }
    .nuestros-servicios_contenedor--imagen{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
        height: auto;
        padding: 10px;
    }
    .nuestros-servicios_contenedor--imagen img{
        width: 80%;
        height: auto;
        text-align: center;
    }
    .nuestros-servicios_contenedor--texto{
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        color: #FFF;
        font-family: Poppins;
        font-style: normal;
        padding: 2px;
        gap: 10px;
    }
    .nuestros-servicios_contenedor--texto h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    }
    .nuestros-servicios_contenedor--texto p{
    font-weight: 200;
    font-size: 16px;
    }

    /* Nuestros clientes */

    .nuestros-clientes{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 60px 20px 60px 20px;
        justify-content: center;
    }
    .nuestros-clientes_titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 30px;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        color: #6B6B6B;
        font-size: 3rem;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .nuestros-clientes_titulo span{
        color: #21B8CC;
        font-weight: 700;
    }
    .nuestros-clientes_contenido{
        display: flex; 
        flex-direction: column;
        padding: 10px;
        width: 100%;
        height: auto;
    }
    .nuestros-clientes_contenido--fila{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 100%;
        gap: 10px;
    }
    .nuestros-clientes_contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px;
        width: auto;
        height: 100%;
    }
    .nuestros-clientes_imagen {
        width: 100%;
        height: 100%;
        transition: transform 0.25s ease-in;
    }
    .enac{
        display: block;
    }
    .enac a:hover{
        content: url(enac_hover.png);
        transition: all 25s ease-in;
        width: 100%;
        height: auto;
    }
    .autonoma{
        display: block;
    }
    .autonoma a:hover{
        content: url(autonoma_hover.png);
        transition: all 25s ease-in;
        width: 100%;
        height: auto;
    }
    .aiep{
        display: block;
    }
    .aiep a:hover{
        content: url(aiep_hover.png);
        transition: all 25s ease-in;
        width: 100%;
        height: auto;
    }
    .inacap{
        display: block;
    }
    .inacap a:hover{
        content: url(inacap_hover.png);
        transition: all 25s ease-in;
        width: 100%;
        height: auto;
    }
    .casos-exito{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .casos-exito_titulo{
        text-align: center;
        font-family: Poppins;
        font-size: 3rem;
        font-style: normal;
        text-transform: uppercase;
        color: #6B6B6B;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    .casos-exito_titulo span{
        color: #21B8CC;
        font-weight: 700;
    }
    .casos-exito_clientes{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .casos-exito_contenedor-logos{
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);;
        grid-gap: 20px;
    }
    .casos-exito_logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
    }
    .casos-exito_logo img{
        width: 200px; 
        height: auto;
    }

    /* Contacto */

    .contacto{
        display: flex;
        flex-direction: column;
        background: #5E5E5E;
        padding: 40px;
        width: 100%;
        height: auto;
    }
    .contacto_titulo--2{
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 30px;
        color: #FFF;
        font-family: Poppins;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    .contacto_titulo--1{
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
    }
    .contacto_contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        gap: 15px;
    }
    .contacto_informacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 3rem;
    }
    .contacto_informacion-titulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5rem;
        color: #FFF;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 162.5%; /* 40.625px */
        text-transform: uppercase;
        width: 100%;
        height: auto;
    }
    .contacto_informacion-contenedor{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 5rem;
    }
    .contacto_icono{
        display:flex;
        width: 50%;
        color: white;
        font-size: 40px;
    }
    .contacto_texto{
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .contacto_texto--titulo{
        color: #21B8CC;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
    }
    .contacto_formulario{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
        justify-content: center;
        align-items: left;
        padding-top: 5px;
        gap: 10px;
    }
    .contacto_formulario input{
        width: 100%;
        height: auto;
        flex-shrink: 0;
        background: #474646;
        box-shadow: none;
        transition: all 0.5s ease;
        border-style: none;
    }
    .contacto_formulario textarea{
        width: 100%;
        height: 316px;
        flex-shrink: 0;
        background: #474646;
        border-style: none;
    }
    .contacto_formulario input::placeholder, textarea::placeholder{
        color: #FFF;
        text-align: left;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        opacity: 0.5;
    }
    .contacto_formulario textarea,[type="text"]{
        font-size: 20px;
        color: #afadad;
        padding: 10px;
    }
    .contacto_formulario input[type="submit"]{
        width: 50%;
        height: auto;
        padding: 15px;
        background: #21B8CC;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-size: 1rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-style: none;
    }
    .contacto_formulario input[type="submit"]:hover{
        background: #FFF;
        color: #21B8CC;
    }

    /* Footer */

    .footer{
        background: #21B8CC;
        display: grid;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 70px 0 70px 0;
        margin: 0;
    }
    .footer_contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 50px;
    }
    .footer_encabezado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 0;
        height: 0;
    }
    .footer_encabezado-izq{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 0%;
        height: auto;
    }
    .footer_contactanos-titulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 5px;
        width: 40%;
        height: auto;
    }
    .footer_columna-izq{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding:0;
        text-align: center;
    }
    .footer_etiza{
        display: flex;
        flex-direction: row;
        gap: 5rem;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .footer_etiza-logo{
        padding: 0;
    }
    .logo_e{
        width: 8rem;
        height: auto;
    }
    .footer_texto{
        width: 60%;
        color: #FFF;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        text-align: center;
    }
    .footer_redes-sociales{
        color: #fff;
        font-size: 5rem;
        gap: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
    }
    .footer_redes-sociales i{
        border: 5px solid white;
        border-radius: 4rem;
        padding: 10px;
    }
    .footer_redes-sociales a{
        color: #fff;
    }
    .footer_redes-sociales i:hover{
        background: white;
        color: #21B8CC;
    }
    .footer_columna-der{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        gap: 3rem;
    }
    .footer_contactanos-izq{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        justify-content: left;
        text-align: left;
    }
    .footer_contactanos-der{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: left;
        text-align: left;
    }
    .footer_contactanos-texto{
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        gap: 5px;
        text-align: left;
    }
    .footer_contactanos-texto span{
        font-weight: bolder;
    }
    .footer_titulo--1{
        width: 0;
        visibility: hidden;
    }
    .footer_titulo--2{
        width: 100%;
        visibility: visible;
    }

}