@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: all 0.1s ease;
}

:root {
    --celeste: #21B8CC;
    --gris-oscuro: #5D5D5D;
    --gris-claro: D9D9D9;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    opacity: 0;
    transition: opacity 0.5s;
}
/* Estilos de texto */
.texto_titulo {
    color: #6B6B6B;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.texto_titulo span {
    color: #21B8CC;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.texto_gris {
    color: #6B6B6B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.titulo_blanco {
    color: #FFF;
}
.titulo_blanco span {
    color: white;
}
.texto_blanco {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
}
/* Header */

.navbar {
    height: auto;
    transition: all 0.5s;
    padding: 3rem 6rem 1rem 6rem !important;
}

.navbar a {
    color: white;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}
#navbarNav {
    justify-content: flex-start;
}

.navbar_logo {
    display: flex;
    content: url(etiza_logoblanco.svg);
    flex-direction: row;
    align-items: center;
    width: 10rem;
    height: auto;
}
.fas {
    font-size: 2rem;
}

.fa-bars {
    color: white;
}

.navbar-collapse {
    margin-top: 1rem;
}

/* Navbar al hacer scroll */

.navbar-white {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar-white a {
    color: #474646 !important;
}
.navbar_logo--scroll {
    display: flex;
    content: url(etiza_logocolor.png);
    flex-direction: row;
    align-items: center;
    width: 10rem;
    height: auto;
}

.navbar-white i {
    color: #474646;
}

/* Banner */
.banner {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rem;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 15rem;
    padding-bottom: 2rem;
}
.banner.solid-background {
    background: #21B8CC;
    background-size: cover;
}
.banner.solid-background img{
    width: 0;
    height: 0;
}
.banner--home {
    background: url(banner_home.png);
    
}
.banner--enac {
    background: url(banner_enac.png);
    padding-bottom: 10rem;
}
.banner--autonoma {
    background: url(banner_autonoma.png);
    padding-bottom: 10rem;
}
.banner--aiep {
    background: url(banner_aiep.png);
    padding-bottom: 10rem;
}
.banner--inacap {
    background: url(banner_inacap.png);
    padding-bottom: 10rem;
}

.logo--inacap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo--aiep {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.logo--enac {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo--autonoma {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner-texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.banner-texto.color-text {
    color: #21B8CC;
}

.banner_texto--1 {
    font-size: 2.25rem;
    font-weight: bold;
}

.banner_texto--2 {
    font-size: 2.25rem;
    font-weight: bold;
}

.banner_texto--3 {
    font-size: 5.25rem;
    font-weight: bolder;
}

/* Quienes somos */

.quienes-somos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55rem;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0;
    gap: 3rem;
}
.quienes-somos_imagen {
    display: flex;
    flex-direction: column;
    background-image: url(quienes-somos.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 60%;
    background-color: black;
}
.quienes-somos_texto {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    width: 40%;
    padding: 5rem 2rem 5rem 2rem;
    gap: 30px;
}
.titulo_hero h1 {
    color: #6B6B6B;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.titulo_hero span {
    color: #21B8CC;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.texto_hero h2 {
    color: #6B6B6B;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

/* Servicios */

.nuestros-servicios {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: url(nuestros-servicios_fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 3rem 8rem 3rem;
    gap: 1rem;
}

.nuestros-servicios_contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 80%;
    height: auto;
    padding: .5rem;
    gap: 2rem;
}

.servicio_contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #6B6B6B;
    border-radius: .8rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

.servicio_contenedor--imagen {
    display: flex;
    width: 40%;
    height: auto;
    padding: 1rem;
}

.servicio_contenedor--imagen img {
    width: 100%;
    height: auto;
}

.servicio_contenedor--texto {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 70%;
}

.servicio_contenedor--texto span {
    font-weight: 800;
    text-transform: uppercase;
}

/* Nuestros clientes */

.nuestros-clientes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10rem 2rem 8rem 2rem;
    gap: 1.5rem;
}

.nuestros-clientes_contenido {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 1rem 2rem .5rem 2rem;
    gap: 2rem;
}

.cliente_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: .4rem;
}

.cliente_contenedor img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
}
.enac a,
.autonoma a,
.aiep a,
.inacap a {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    border-radius: .4rem;
}

.enac {
    display: block;
}

.enac a:hover {
    content: url(enac_hover.png);
    transition: all 25s ease-in;
}

.autonoma {
    display: block;
}

.autonoma a:hover {
    content: url(autonoma_hover.png);
    transition: all 25s ease-in;
}

.aiep {
    display: block;
}

.aiep a:hover {
    content: url(aiep_hover.png);
    transition: all 25s ease-in;
}

.inacap {
    display: block;
}

.inacap a:hover {
    content: url(inacap_hover.png);
    transition: all 25s ease-in;
}

.casos-exito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2rem;
    gap: 1rem;
}

.contenedor_casos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.casos_logo {
    width: 10rem;
    height: auto;
}

.casos_logo img {
    width: 100%;
    height: 100%;
}

/* Contacto */

.contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: #5E5E5E;
    padding: 12rem 3rem 8rem 3rem;
    gap: 3rem;
}

.contacto_titulo {
    display: flex;
    text-align: center;
    width: 100%;
    font-weight: 700;
    justify-content: center;
}

.contacto_contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: auto;
    padding: 1rem 2rem 1rem 2rem;
}

.contacto_informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.informacion_contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 3rem;
}

.informacion_titulo {
    color: #21B8CC;
    font-size: 2rem;
    font-weight: 700;
}
.contacto_icono {
    display: flex;
    color: white;
    font-size: 3rem;
}

.contacto_formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: left;
    gap: 1rem;
}

.contacto_formulario input {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: #474646;
    box-shadow: none;
    transition: all 0.5s ease;
    border-style: none;
}

.contacto_formulario textarea {
    width: 100%;
    height: 19.75rem;
    background: #474646;
    border-style: none;
}

.contacto_formulario input::placeholder,
textarea::placeholder {
    color: #FFF;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
    opacity: 0.5;
}

.contacto_formulario textarea,
[type="text"] {
    font-size: 1.25rem;
    color: #afadad;
    padding: 0.625rem;
}

.contacto_formulario input[type="submit"] {
    width: 30%;
    height: auto;
    padding: 0.938rem;
    background: #21B8CC;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-style: none;
}

.contacto_formulario input[type="submit"]:hover {
    background: #FFF;
    color: #21B8CC;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem 5rem 3rem;
    gap: 3rem;
    background: #21B8CC;
}

.footer_contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    width: 90%;
    height: auto;
    gap: 3rem;
}
.footer_contenedor--izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}
.footer_contenedor--mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}
.footer_contenedor--mid span {
    font-weight: bold;
}
.footer_contenedor--der {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}
.footer_contenedor--der span {
    font-weight: bold;
}
.contenedor-logo_footer {
    width: 5rem;
    height: 5rem;
}

.footer_logo {
    width: 100%;
    height: 100%;
    padding-top: 0;
    color: white;
}    
.footer_redes-sociales {
    color: #fff;
    font-size: 40px;
    gap: 60px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}

.footer_redes-sociales i {
    border: 4px solid white;
    border-radius: 50px;
    padding: 15px;
}

.footer_redes-sociales a {
    color: #fff;
}

.footer_redes-sociales i:hover {
    background: white;
    color: #21B8CC;
}

/* ENAC y Autonoma */

/* Descripcion ENAC */

.enac_descripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5rem;
    background-color: white;
}

.enac_descripcion p {
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
/* Descripcion Autonoma */

.autonoma_descripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5rem;
    background-color: white;
}

.autonoma_descripcion p {
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

/* Animaciones */

.animaciones {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: url(animaciones_background.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0 5rem 0;
    gap: 5rem;
}

.animaciones_titulo {
    text-align: center;
}

.animaciones_titulo span {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.animaciones_titulo h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.contenedor-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    padding: 0;
}
.contenedor-video iframe {
    width: 100%;
    height: 100%;
}
.contenedor_interactivo--autonoma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
}
.contenedor_interactivo--autonoma iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 800px;
}
.animaciones_texto {
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    width: 100%;
}

.animaciones_texto p {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

/* Interactivo */

.interactivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 8rem 0 0 0;
}
.interactivo_titulo {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 4rem;
}

.interactivo_titulo h2 {
    color: #21B8CC;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.contenedor_interactivo {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}
.interactivo_iframe {
    width: 100%;
    height: 100%;
}

.interactivo_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 4rem 3rem 4rem;
    width: 100%;
}

.interactivo_texto p {
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

/* Infografia */

.infografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 0 0 0;
    gap: 2rem;
}
.infografia_titulo {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 4rem;
}

.infografia_titulo h2 {
    color: #21B8CC;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.infografia_pdf {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}
.contenedor_pdf {
    display: flex;
    width: 400px;
    height: auto;
}
.pdf_img {
    width: 100%;
    height: auto;
}
.infografia_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 4rem 3rem 4rem;
    width: 100%;
}

.infografia_texto p {
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

.contenedor_pdf img {
    transition: transform 0.2s;
}

.contenedor_pdf img:hover {
    transform: scale(0.9);
}

/* Apuntes */

.apuntes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 8rem 0 5rem 0;
    gap: 2rem;
}

.apuntes_titulo {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 4rem;
}

.apuntes_titulo h2 {
    color: #5E5E5E;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.apuntes_titulo span {
    color: #21B8CC;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.apuntes_pdf {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}
.apuntes_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 4rem 3rem 4rem;
    width: 100%;
}

.apuntes_texto p {
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

/* AIEP */

.ruta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 0 5rem 0;
    gap: 2rem;
}

.ruta_titulo {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 4rem;
}

.ruta_titulo h2 {
    color: #5E5E5E;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.ruta_titulo span {
    color: #21B8CC;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.ruta_contenedor {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 800px;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.ruta_story {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.ruta_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 4rem 3rem 4rem;
    width: 100%;
}

.ruta_texto p {
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

/* Inacap */

.contenedor_interactivo--inacap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
}
.contenedor_interactivo--inacap iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 800px;
}

/* Articulate */

.articulate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 0 2rem 0;
    gap: 2rem;
}

.articulate_titulo {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 4rem;
}

.articulate_titulo h2 {
    color: #5E5E5E;
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.articulate_titulo span {
    color: #21B8CC;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.articulate_pdf {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}
.articulate_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 4rem 3rem 4rem;
    width: 100%;
}

.articulate_texto p {
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

.contenedor_articulate {
    display: flex;
    width: 400px;
    height: auto;
}
.articulate_img {
    width: 100%;
    height: auto;
}

.contenedor_articulate img {
    transition: transform 0.2s;
}

.contenedor_articulate img:hover {
    transform: scale(0.9);
}

/*** --- Tablet --- ***/

@media (max-width: 1024px) {

    /*H E A D E R*/
    .navbar {
        display: flex !important;
        flex-direction: row !important;
        height: auto;
        transition: all 0.5s;
        padding: 3rem 6rem 3rem 6rem !important;
        text-align: center;
        justify-content: center !important;
        gap: 15rem;
    }
    .navbar-close {
        gap: 3rem;
    }
    #navbarNav {
        justify-content: flex-end;
    }
    .navbar-blue {
        background-color: #21B8CC !important;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .navbar-blue a {
        color: white !important;
    }

    .navbar-blue i {
        color: white;
    }
    .navbar-blue a:hover {
        color: white;
        font-weight: bold;
    }
    .navbar-blue--logo {
    content: url(etiza_logoblanco.svg);
    }

    .nav-link {
        font-size: 2rem;
    }

    .nav-link:hover {
        color: inherit;
        font-weight: bold;
    }
    .icon-dark {
        color: black !important;
    }

    .fas {
        font-size: 3rem;
    }

    .fa-bars {
        color: white;
    }

    /* Banner */

    .banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 300px 20px 150px 20px;
    }

    .banner--home {
        background: url(banner_home.png);
        background-size: cover;
    }

    .banner--enac {
        background: url(banner_enac.png);
        background-size: cover;
        padding-bottom: 25rem;
    }

    .banner--autonoma {
        background: url(banner_autonoma.png);
        background-size: cover;
        padding-bottom: 25rem;
    }

    .banner--aiep {
        background: url(banner_aiep.png);
        background-size: cover;
        padding-bottom: 25rem;
    }

    .banner--inacap {
        background: url(banner_inacap.png);
        background-size: cover;
        padding-bottom: 25rem;
    }

    .banner_texto {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
    }

    .banner_texto--1 {
        font-size: 20px;
    }

    .banner_texto--2 {
        font-weight: 20px;
        font-weight: 50;
        font-style: bold;
    }

    .banner_texto--3 {
        font-size: 50px;
        font-weight: bold;
    }

    /* Quienes somos */

    .quienes-somos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        background: white;
        padding: 15rem 1rem 3rem 1rem;
        gap: 1rem;
    }

    .quienes-somos_texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: 90%;
        padding: 5px;
        gap: 1rem;
    }

    .quienes-somos_texto--titulo {
        color: #6B6B6B;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .quienes-somos_texto--titulo span {
        color: #21B8CC;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .quienes-somos_texto--descripcion {
        display: flex;
        flex-direction: column;
        text-align: justify-left;
        width: 100%;
        color: #6B6B6B;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 162.5%;
    }

    .quienes-somos_imagen {
        display: flex;
        flex-direction: column;
        background-image: url(quienes-somos.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20rem;
        width: 80%;
        background-color: black;
        border-radius: 1rem;
    }

    /* Servicios */

    .nuestros-servicios {
        display: flex;
        flex-direction: column;
        background: url(nuestros-servicios_fondo.png);
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 15rem 1rem 5rem 1rem;
    }

    .nuestros-servicios_contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 30px;
    }

    /* Nuestros clientes */

    .nuestros-clientes {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 15rem 1rem 3rem 1rem;
        justify-content: center;
    }

    .nuestros-clientes_contenido {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        height: auto;
    }
    .cliente_contenedor {
        width: 70%;
        height: auto;
    }
    
    /* Casos de exito */

    .casos-exito {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .contenedor_casos {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
        column-gap: 3rem;
    }

    /* Contacto */

    .contacto {
        display: flex;
        flex-direction: row;
        background: #5E5E5E;
        padding: 15rem 1rem 3rem 1rem;
        width: 100%;
        height: auto;
        gap: 1rem;
    }

    .contacto_contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem 1rem 3rem 1rem;
        gap: .3rem;
    }
    .contacto_informacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        gap: 1rem;
    }
    .informacion_contenedor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: .2rem;
    }

    .contacto_icono {
        display: flex;
        color: white;
        font-size: 40px;
    }
    .contacto_formulario {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
        justify-content: center;
        align-items: left;
        padding-top: 3rem;
        gap: 10px;
    }

    .contacto_formulario input {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        background: #474646;
        box-shadow: none;
        transition: all 0.5s ease;
        border-style: none;
    }

    .contacto_formulario textarea {
        width: 100%;
        height: 316px;
        flex-shrink: 0;
        background: #474646;
        border-style: none;
    }

    .contacto_formulario input::placeholder,
    textarea::placeholder {
        color: #FFF;
        text-align: left;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        opacity: 0.5;
    }

    .contacto_formulario textarea,
    [type="text"] {
        font-size: 20px;
        color: #afadad;
        padding: 10px;
    }

    .contacto_formulario input[type="submit"] {
        width: 50%;
        height: auto;
        padding: 15px;
        background: #21B8CC;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-size: 1rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-style: none;
    }

    .contacto_formulario input[type="submit"]:hover {
        background: #FFF;
        color: #21B8CC;
    }

    /* Footer */

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 3rem 1rem 3rem 1rem;
        margin: 0;
    }

    .footer_contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        height: auto;
        gap: 2rem;
    }
    .footer_contenedor--izq {
        width: 70%;
    }
    .footer_redes-sociales {
        font-size: 4rem;
        gap: 3rem;
    }

/* ENAC */
.logo--enac {
    padding-top: 8rem;
}
.contenedor-video {
    width: 100%;
    height: 500px;
    padding: 0 !important;
}
.contenedor-video iframe {
    width: 100%;
    height: 100%;
    padding: 0;
}
.infografia_pdf {
    flex-direction: column;
}
.apuntes_pdf {
    flex-direction: column;
}

/* Autonoma */
.logo--autonoma {
    padding-top: 8rem;
}
.contenedor_interactivo {
    width: 100%;
    height: auto;
    padding: 0;
}
.interactivo_iframe {
    width: 90%;
    height: 500px;
    padding: 0;
}
.contenedor_interactivo--autonoma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.contenedor_interactivo--autonoma iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 600px;
}
/* INACAP */
.logo--inacap {
    width: 90%;
    padding-top: 8rem;
}
.logo--inacap img {
    width: 100%;
}
.contenedor_interactivo--inacap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.contenedor_interactivo--inacap iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 600px;
}
.articulate_pdf {
    flex-direction: column;
}
/* AIEP */
.logo--aiep {
    padding-top: 8rem;
}
.ruta_contenedor {
    width: 90%;
    height: 600px;
}
/*_____________________________________________________________

______________T E L E F O N O______________

_________________________________________________________*/

@media (max-width: 410px) {
    body {
        overflow-x: hidden
    }
    /*H E A D E R*/
    .navbar {
        flex-direction: row !important;
        height: auto;
        transition: all 0.1s;
        padding: 2rem !important;
        gap: 6rem;
    }

    .navbar_logo {
        width: 7rem;
        height: auto;
       
    }

    .navbar_logo--scroll {
        width: 7rem;
        height: auto;
    }

    .fas {
        font-size: 3rem;
    }

    .nav-item {
        padding: 1rem;
    }

    .nav-link {
        text-align: center;
    }

    /* Banner */

    .banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 200px 5px 80px 5px;
    }

    .banner--home {
        background: url(banner_home.png);
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .banner--enac {
        background: url(banner_enac.png);
        background-size: cover;
        padding-bottom: 25rem;
    }

    .banner--autonoma {
        background: url(banner_autonoma.png);
        background-size: cover;
        padding-bottom: 25rem;
    }

    .banner--aiep {
        background: url(banner_aiep.png);
        background-size: cover;
        padding-bottom: 25rem;
    }

    .banner--inacap {
        background: url(banner_inacap.png);
        background-size: cover;
        padding-bottom: 25rem;
    }

    .banner_texto--1 {
        font-size: 20px;
        font-weight: bold;
    }

    .banner_texto--2 {
        font-size: 20px;
        font-weight: lighter;
    }

    .banner_texto--3 {
        font-size: 30px;
        font-weight: bolder;
    }

    /* Quienes somos */

    .quienes-somos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        background: white;
        padding: 3rem 1rem 3rem 1rem;
        gap: 1rem;
    }

    .quienes-somos_imagen {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 20rem;
        padding: 1px;
    }

    /* Servicios */

    .nuestros-servicios {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: url(nuestros-servicios_fondo.png);
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 3rem 1rem 3rem 1rem;
    }

    .nuestros-servicios_contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        height: auto;
        padding: 0;
        gap: 2rem;
    }

    .servicio_contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #6B6B6B;
        border-radius: 35px;
        width: 95%;
        height: auto;
        padding: 2px;
        gap: 0;
        text-align: center;
    }

    /* Nuestros clientes */

    .nuestros-clientes {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
        padding: 3rem 1rem 3rem 1rem;
        justify-content: center;
        gap: 0;
    }

    .nuestros-clientes_contenido {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .cliente_contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .casos-exito {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 30px 0 50px 0;
    }

    .contenedor_casos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }
    /* Contacto */

    .contacto {
        display: flex;
        flex-direction: column;
        background: #5E5E5E;
        padding: 9rem 1rem 3rem 1rem;
        width: 100%;
        height: auto;
    }

    .contacto_titulo {
        font-size: 2.3rem;
    }
    .contacto_contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        gap: 25px;
    }
    .footer_contenedor--izq {
        width: 100%;
    }
    .contacto_informacion {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        width: 80%;
        gap: 1px;
    }

    .informacion_contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        gap: 1rem;
    }

    .contacto_icono {
        display: flex;
        color: white;
        font-size: 40px;
        padding: 0;
        margin: 0;
    }

    .contacto_formulario {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: auto;
        justify-content: center;
        align-items: left;
        padding: 5px 0 5px 0;
        gap: 6px;
    }

    .footer_redes-sociales a {
        color: #fff;
        font-size: 3rem;
    }

    .footer_redes-sociales i:hover {
        background: white;
        color: #21B8CC;
    }

    /* ENAC */
.banner--enac {
    height: 300px;
}
.logo--enac {
    padding-top: 8rem;
    width: 80%;
}
.logo--enac img {
    width: 100%;
}
.enac_descripcion {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
}
.enac_descripcion p {
    font-size: 18px;
}
.animaciones {
    gap: 1rem;
}
.animaciones_titulo {
    text-align: center;
}

.animaciones_titulo span {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.animaciones_titulo h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.animaciones_texto {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
}
.animaciones_texto p{
    font-size: 18px;
}
.contenedor-video {
    width: 100%;
    height: 400px;
    padding: 0 !important;
}
.contenedor-video iframe {
    width: 100%;
    height: 100%;
    padding: 0;
}
.interactivo {
    padding: 5rem 1rem 5rem 1rem;
    gap: 1rem;
}
.interactivo_titulo {
    text-align: center;
    padding: 0;
}
.interactivo_titulo h2 {
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.interactivo_texto {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
}
.interactivo_texto p{
    font-size: 18px;
}
.contenedor_interactivo {
    width: 100%;
    height: auto;
    padding: 0;
}
.interactivo_iframe {
    width: 90%;
    height: 500px;
    padding: 0;
}
.infografia {
    padding: 2rem 1rem 1rem 1rem;
    gap: 1rem;
}
.infografia_titulo {
    text-align: center;
    padding: 0;
}
.infografia_titulo h2 {
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.infografia_texto {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
}
.infografia_texto p{
    font-size: 18px;
}
.infografia_pdf {
    flex-direction: column;
}
.contenedor_pdf {
    width: 90%;
}
.apuntes {
    padding: 2rem 1rem 1rem 1rem;
    gap: 1rem;
}
.apuntes_titulo {
    text-align: center;
    padding: 0;
}
.apuntes_titulo h2 {
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.apuntes_titulo span {
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.apuntes_texto {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
}
.apuntes_texto p{
    font-size: 18px;
}
.apuntes_pdf {
    flex-direction: column;
}
/* Autonoma */
.banner--autonoma {
    height: 300px;
}
.logo--autonoma {
    width: 80%;
    padding-top: 8rem;
}
.logo--autonoma img {
    width: 100%;
}
.autonoma_descripcion {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
}
.autonoma_descripcion p {
    font-size: 18px;
}
.contenedor_interactivo {
    width: 100%;
    height: auto;
    padding: 0;
}
.contenedor_genially {
    width: 90%;
    height: 500px;
    padding: 0;
}
.contenedor_interactivo--autonoma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.contenedor_interactivo--autonoma iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 500px;
}
/* INACAP */
.logo--inacap {
    padding-top: 8rem;
    width: 80%;
}
.logo--inacap img {
    width: 100%;
}
.contenedor_interactivo--inacap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.contenedor_interactivo--inacap iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
}
.articulate {
    padding: 2rem 1rem 1rem 1rem;
    gap: 1rem;
}
.articulate_titulo {
    text-align: center;
    padding: 0;
}
.articulate_titulo h2 {
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.articulate_titulo span {
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.articulate_texto {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
}
.articulate_texto p{
    font-size: 18px;
}
.articulate_pdf {
    flex-direction: column;
}
/* AIEP */
.logo--aiep {
    width: 80%;
    padding-top: 8rem;
}
.logo--aiep img {
    width: 100%;
}
.ruta_contenedor {
    width: 90%;
    height: 600px;
}
.ruta {
    padding: 2rem 1rem 1rem 1rem;
    gap: 1rem;
}
.ruta_titulo {
    text-align: center;
    padding: 0;
}
.ruta_titulo h2 {
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.ruta_titulo span {
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.ruta_texto {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
}
.ruta_texto p{
    font-size: 18px;
    font-size: 18px;
}
}}