@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: all 0.1s ease;
}

:root {
    --celeste: #21B8CC;
    --gris-oscuro: #5D5D5D;
    --gris-claro: D9D9D9;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    opacity: 0;
    transition: opacity 0.5s;
}

/*** Estilos generales ***/

/* Colores */

.blanco {
    color: #FFF;
}

.gris {
    color: #474646;
}

.azul {
    color: #21B8CC;
}

/* Estilos de texto de secciones */

.seccion_titulo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.seccion_titulo--estilo {
    text-transform: uppercase;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}

.span {
    font-weight: 400;
}

.seccion_parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.seccion_texto {
    display: flex;
    flex: column;
    justify-content: center;
    width: 70%;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}

/* Header */

.navbar {
    height: auto;
    transition: all 0.5s;
    padding: 3rem 6rem 1rem 6rem !important;
}

.navbar a {
    color: white;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}

#navbarNav {
    justify-content: flex-start;
}

.navbar_logo {
    display: flex;
    content: url(img/etiza_logoblanco.svg);
    flex-direction: row;
    align-items: center;
    width: 10rem;
    height: auto;
}

.fas {
    font-size: 2rem;
}

.fa-bars {
    color: white;
}

.navbar-collapse {
    margin-top: 1rem;
}

/* Navbar al hacer scroll */

.navbar-white {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar-white a {
    color: #474646 !important;
}

.navbar_logo--scroll {
    display: flex;
    content: url(img/etiza_logocolor.png);
    flex-direction: row;
    align-items: center;
    width: 10rem;
    height: auto;
}

.navbar-white i {
    color: #474646;
}

/* Banner */
.banner {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.banner.solid-background {
    background: #21B8CC;
    background-size: cover;
}

.banner.solid-background img {
    width: 0;
    height: 0;
}

.banner--home {
    background: url(img/banner_home.webp);
    background-position: center center;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 2rem;
    height: 60rem;
}

.banner--clientes {
    padding-top: 5rem;
    padding-bottom: 1rem;
    height: 50rem;
}

.banner--enac {
    background: url(img/banner_enac.webp);
    background-position: center center;
    background-size: cover;
}

.banner--autonoma {
    background: url(img/banner_autonoma.webp);
    background-position: center center;
    background-size: cover;
}

.banner--aiep {
    background: url(img/banner_aiep.webp);
    background-position: center center;
    background-size: cover;
}

.banner--inacap {
    background: url(img/banner_inacap.webp);
    background-position: center center;
    background-size: cover;
}

.logo--cliente {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Texto banner home */
.banner-texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.banner-texto.color-text {
    color: #21B8CC;
}

.banner_texto--1 {
    font-size: 2.25rem;
    font-weight: bold;
}

.banner_texto--2 {
    font-size: 2.25rem;
    font-weight: 50;
}

.banner_texto--3 {
    font-size: 5.25rem;
    font-weight: bolder;
}

/* Quienes somos */

.quienes-somos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55rem;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0;
    gap: 3rem;
}

.quienes-somos_imagen {
    display: flex;
    flex-direction: column;
    background-image: url(img/quienes-somos.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 60%;
    background-color: black;
}

.quienes-somos_texto {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    width: 40%;
    padding: 5rem 2rem 5rem 2rem;
    gap: 30px;
}

.titulo_hero h1 {
    color: #6B6B6B;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.titulo_hero span {
    color: #21B8CC;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto_hero h2 {
    color: #6B6B6B;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

/* Servicios */

.nuestros-servicios {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: url(img/seccion_background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 2rem 8rem 2rem;
    gap: 1rem;
}

.nuestros-servicios_contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 80%;
    height: auto;
    padding: .5rem;
    gap: 2rem;
}

.servicio_contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #6B6B6B;
    border-radius: .8rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

.servicio_contenedor--imagen {
    display: flex;
    width: 40%;
    height: auto;
    padding: 1rem;
}

.servicio_contenedor--imagen img {
    width: 100%;
    height: auto;
}

.servicio_contenedor--texto {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 70%;
    font-size: 16px;
}

.servicio_contenedor--texto span {
    font-weight: 800;
    text-transform: uppercase;
}

/* Nuestros clientes */

.nuestros-clientes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10rem 2rem 8rem 2rem;
    gap: 1.5rem;
}

.nuestros-clientes_contenido {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 1rem 2rem .5rem 2rem;
    gap: 2rem;
}

.cliente_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: .4rem;
}

.cliente_contenedor img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
}

.enac a,
.autonoma a,
.aiep a,
.inacap a {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    border-radius: .4rem;
}

.enac {
    display: block;
}

.enac a:hover {
    content: url(img/enac_hover.png);
    transition: all 25s ease-in;
}

.autonoma {
    display: block;
}

.autonoma a:hover {
    content: url(img/autonoma_hover.webp);
    transition: all 25s ease-in;
}

.aiep {
    display: block;
}

.aiep a:hover {
    content: url(img/aiep_hover.webp);
    transition: all 25s ease-in;
}

.inacap {
    display: block;
}

.inacap a:hover {
    content: url(img/inacap_hover.png);
    transition: all 25s ease-in;
}

.casos-exito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2rem;
    gap: 1rem;
}

.contenedor_casos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.casos_logo {
    width: 10rem;
    height: auto;
}

.casos_logo img {
    width: 100%;
    height: 100%;
}

/* Contacto */

.contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: #5E5E5E;
    padding: 12rem 2rem 8rem 2rem;
    gap: 3rem;
}

.contacto_contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: auto;
    padding: 1rem 2rem 1rem 2rem;
}

.contacto_informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.informacion_contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 3rem;
}

.informacion_texto {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: auto;
    font-size: 16px;
}

.informacion_titulo {
    color: #21B8CC;
    font-size: 2rem;
    font-weight: 700;
}

.contacto_icono {
    display: flex;
    color: white;
    font-size: 3rem;
}

.contacto_formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: left;
    gap: 1rem;
}

.contacto_formulario input {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: #474646;
    box-shadow: none;
    transition: all 0.5s ease;
    border-style: none;
}

.contacto_formulario textarea {
    width: 100%;
    height: 19.75rem;
    background: #474646;
    border-style: none;
}

.contacto_formulario input::placeholder,
textarea::placeholder {
    color: #FFF;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
    opacity: 0.5;
}

.contacto_formulario textarea,
[type="text"] {
    font-size: 1.25rem;
    color: #afadad;
    padding: 0.625rem;
}

.contacto_formulario input[type="submit"] {
    width: 30%;
    height: auto;
    padding: 0.938rem;
    background: #21B8CC;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-style: none;
}

.contacto_formulario input[type="submit"]:hover {
    background: #FFF;
    color: #21B8CC;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem 5rem 3rem;
    gap: 3rem;
    background: #21B8CC;
}

.footer_contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    width: 90%;
    height: auto;
    gap: 3rem;
}

.footer_texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 16px;
}

.footer_contenedor--izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.footer_contenedor--mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.footer_contenedor--mid span {
    font-weight: bold;
}

.footer_contenedor--der {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}

.footer_contenedor--der span {
    font-weight: bold;
}

.contenedor-logo_footer {
    width: 5rem;
    height: 5rem;
}

.footer_logo {
    width: 100%;
    height: 100%;
    padding-top: 0;
    color: white;
}

.footer_redes-sociales {
    color: #fff;
    font-size: 40px;
    gap: 60px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}

.footer_redes-sociales i {
    border: 4px solid white;
    border-radius: 50px;
    padding: 15px;
}

.footer_redes-sociales a {
    color: #fff;
}

.footer_redes-sociales i:hover {
    background: white;
    color: #21B8CC;
}

/*** Sitios de clientes ***/


/* Descripcion banner cliente */

.descripcion {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6rem 0 3rem 0;
    background-color: white;
}

.descripcion_parrafo {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    text-align: justify;
}

.descripcion_texto {
    color: #474646;
    font-size: 20px;
    font-weight: 500;
}

/* Contenedor para seccion de animaciones */

.animaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: url(img/seccion_background.webp);
    background-size: cover;
    background-position: center;
    padding: 7rem 0 7rem 0;
    gap: 5rem;
}

.contenedor-animacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 800px;
    padding: 0;
}

.contenedor-animacion iframe {
    width: 100%;
    height: 100%;
}

.contenedor-animacion--autonoma {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 800px;
    padding: 0;
}

.contenedor-animacion--autonoma iframe {
    width: 100%;
    height: 100%;
}

/* Contenedor para seccion de interactivos */

.interactivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 7rem 0 7rem 0;
    gap: 5rem;
}

.contenedor-interactivo {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.contenedor-interactivo iframe {
    width: 100%;
    height: 100%;
}

/* Infografia */

.infografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 7rem 0 7rem 0;
    gap: 5rem;
}

.infografia_pdf {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor_pdf {
    display: flex;
    width: 400px;
    height: auto;
}

.pdf_img {
    width: 100%;
    height: auto;
}

.contenedor_pdf img {
    transition: transform 0.2s;
}

.contenedor_pdf img:hover {
    transform: scale(0.9);
}

/* Apuntes */

.apuntes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 7rem 0 7rem 0;
    gap: 5rem;
}

.apuntes_pdf {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}

/* AIEP */

.ruta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: url(img/seccion_background.webp);
    background-size: cover;
    background-position: center;
    padding: 7rem 0 7rem 0;
    gap: 5rem;
}


/* Inacap */

.contenedor-animacion--inacap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 800px;
    padding: 0;
}

.contenedor-animacion--inacap iframe {
    width: 100%;
    height: 100%;
}

.articulate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 7rem 0 7rem 0;
    gap: 5rem;
}

.articulate_titulo {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 4rem;
}

.articulate_pdf {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor_articulate {
    display: flex;
    width: 400px;
    height: auto;
}

.articulate_img {
    width: 100%;
    height: auto;
}

.contenedor_articulate img {
    transition: transform 0.2s;
}

.contenedor_articulate img:hover {
    transform: scale(0.9);
}

/*** --- Tablet --- ***/

@media (max-width: 1024px) {

    /*H E A D E R*/
    .navbar {
        display: flex !important;
        flex-direction: row !important;
        height: auto;
        transition: all 0.5s;
        padding: 3rem 6rem 13rem 6rem !important;
        text-align: center;
        justify-content: center !important;
        gap: 10rem;
    }

    .navbar-close {
        gap: 3rem;
    }

    #navbarNav {
        justify-content: flex-end;
    }

    .navbar-blue {
        background-color: #21B8CC !important;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .navbar-blue a {
        color: white !important;
    }

    .navbar-blue i {
        color: white;
    }

    .navbar-blue a:hover {
        color: white;
        font-weight: bold;
    }

    .navbar-blue--logo {
        content: url(img/etiza_logoblanco.svg);
    }

    .nav-link {
        font-size: 2rem;
    }

    .nav-link:hover {
        color: inherit;
        font-weight: bold;
    }

    .icon-dark {
        color: black !important;
    }

    .fas {
        font-size: 3rem;
    }

    .fa-bars {
        color: white;
    }

    /* Banner */

    .banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 15rem 2rem 2rem 2rem;
    }

    .banner--clientes {
        padding: 20rem 2rem 2rem 2rem;
    }

    .logo_cliente {
        width: 50%;
        height: auto;
    }

    .logo_cliente img {
        width: 100%;
        height: 100%;
    }

    .banner--home {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner--enac {
        background-position: center center;
        background-size: cover;
        background-repeat: repeat;
    }

    .banner--autonoma {
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner--aiep {
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner--inacap {
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner_texto {
        font-size: 40px;
    }

    .banner_texto--1 {
        font-size: 20px;
    }

    .banner_texto--2 {
        font-weight: 20px;
        font-weight: 50;
    }

    .banner_texto--3 {
        font-size: 50px;
    }

    /* Quienes somos */

    .quienes-somos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        background: white;
        padding: 3rem 1rem 1rem 1rem;
        gap: 0;
    }

    .quienes-somos_texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        height: auto;
        width: 90%;
        gap: 10px;
        padding: 1rem;
    }

    .quienes-somos_texto--titulo {
        color: #6B6B6B;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .quienes-somos_texto--titulo span {
        color: #21B8CC;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .quienes-somos_texto--descripcion {
        display: flex;
        flex-direction: column;
        text-align: justify-left;
        width: 100%;
        color: #6B6B6B;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 162.5%;
    }

    .quienes-somos_imagen {
        display: flex;
        flex-direction: column;
        background-image: url(img/quienes-somos.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20rem;
        width: 80%;
        background-color: black;
        border-radius: 1rem;
    }

    /* Servicios */

    .nuestros-servicios {
        display: flex;
        flex-direction: column;
        background: url(img/seccion_background.webp);
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5rem 1rem 5rem 1rem;
    }

    .nuestros-servicios_contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 30px;
    }

    .servicio_contenedor {
        flex-direction: column;
        padding: 1rem;
    }

    /* Nuestros clientes */

    .nuestros-clientes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 5rem 1rem 3rem 1rem;
        justify-content: center;
    }

    .nuestros-clientes_contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        height: auto;
    }

    .servicio_contenedor {
        width: 70%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    /* Casos de exito */

    .casos-exito {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .contenedor_casos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        column-gap: 3rem;
    }

    /* Contacto */

    .contacto {
        display: flex;
        flex-direction: column;
        background: #5E5E5E;
        justify-content: center;
        padding: 5rem 1rem 3rem 1rem;
        width: 100%;
        height: auto;
        gap: 1rem;
    }

    .contacto_contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        gap: .3rem;
    }

    .contacto_informacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 1rem;
    }

    .informacion_contenedor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: .2rem;
    }

    .informacion_texto {
        text-align: center;
    }

    .contacto_icono {
        display: flex;
        color: white;
        font-size: 40px;
    }

    .contacto_formulario {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
        justify-content: center;
        align-items: left;
        padding-top: 3rem;
        gap: 10px;
    }

    .contacto_formulario input {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        background: #474646;
        box-shadow: none;
        transition: all 0.5s ease;
        border-style: none;
    }

    .contacto_formulario textarea {
        width: 100%;
        height: 316px;
        flex-shrink: 0;
        background: #474646;
        border-style: none;
    }

    .contacto_formulario input::placeholder,
    textarea::placeholder {
        color: #FFF;
        text-align: left;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        opacity: 0.5;
    }

    .contacto_formulario textarea,
    [type="text"] {
        font-size: 20px;
        color: #afadad;
        padding: 10px;
    }

    .contacto_formulario input[type="submit"] {
        width: 50%;
        height: auto;
        padding: 15px;
        background: #21B8CC;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-size: 1rem;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-style: none;
    }

    .contacto_formulario input[type="submit"]:hover {
        background: #FFF;
        color: #21B8CC;
    }

    /* Footer */

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 3rem 1rem 3rem 1rem;
        margin: 0;
    }

    .footer_contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        height: auto;
        gap: 2rem;
    }

    .footer_contenedor--izq {
        width: 70%;
    }

    .footer_redes-sociales {
        font-size: 4rem;
        gap: 3rem;
    }

    /* Secciones paginas de clientes */

    .animaciones {
        padding: 2rem 2rem 2rem 2rem;
        gap: 1rem;
    }

    .interactivo {
        padding: 2rem 2rem 2rem 2rem;
        gap: 1rem;
    }

    .infografia {
        padding: 2rem 2rem 2rem 2rem;
        gap: 2rem;
    }

    .articulate {
        padding: 2rem 2rem 2rem 2rem;
        gap: 2rem;
    }

    .apuntes {
        padding: 2rem 2rem 2rem 2rem;
        gap: 2rem;
    }

    .contenedor-animacion {
        width: 100%;
        height: 500px;
        padding: 0;
    }

    .contenedor-interactivo {
        width: 100%;
        height: 500px;
        padding: 1rem;
    }

    .contenedor-animacion--inacap {
        width: 100%;
        height: 500px;
        padding: 1rem;
    }

    .contenedor-animacion--autonoma {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        height: 600px;
        padding: 0;
    }

    .contenedor-animacion--autonoma iframe {
        width: 100%;
        height: 100%;
    }

    .infografia_pdf {
        flex-direction: column;
    }

    .apuntes_pdf {
        flex-direction: column;
    }

    /* Autonoma */
    .logo--autonoma {
        padding-top: 8rem;
    }

    .articulate_pdf {
        flex-direction: column;
    }

    /*** Telefono ***/

    @media (max-width: 410px) {
        body {
            overflow-x: hidden
        }

        /*H E A D E R*/
        .navbar {
            flex-direction: row !important;
            height: auto;
            transition: all 0.1s;
            padding: 2rem !important;
            gap: 6rem;
        }

        .navbar_logo {
            width: 7rem;
            height: auto;

        }

        .navbar_logo--scroll {
            width: 7rem;
            height: auto;
        }

        .fas {
            font-size: 3rem;
        }

        .nav-item {
            padding: 1rem;
        }

        .nav-link {
            text-align: center;
        }

        /* Banner */

        .banner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: auto;
        }

        .banner--clientes {
            padding: 10rem 1rem 1rem 1rem;
        }

        .banner--home {
            background: url(img/banner_home.png);
            background-size: cover;
            background-position: center center;
            overflow: hidden;
        }

        .logo--cliente {
            padding: 0;
        }

        .banner_texto--1 {
            font-size: 20px;
            font-weight: bold;
        }

        .banner_texto--2 {
            font-size: 20px;
            font-weight: lighter;
        }

        .banner_texto--3 {
            font-size: 30px;
            font-weight: bolder;
        }

        /* Quienes somos */

        .quienes-somos {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;
            background: white;
            padding: 3rem 1rem 3rem 1rem;
            gap: 1rem;
        }

        .quienes-somos_texto {
            text-align: center;
        }

        .quienes-somos_imagen {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 20rem;
            padding: 1px;
        }

        /* Servicios */

        .nuestros-servicios {
            padding: 3rem 1rem 3rem 1rem;
        }

        .nuestros-servicios_contenido {
            gap: 2rem;
        }

        .servicio_contenedor {
            border-radius: 35px;
            width: 100%;
            height: auto;
            padding: 2px;
        }

        /* Nuestros clientes */

        .nuestros-clientes {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: auto;
            padding: 3rem 1rem 3rem 1rem;
            justify-content: center;
            gap: 0;
        }

        .nuestros-clientes_contenido {
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 100%;
            height: auto;
            gap: 10px;
        }

        .cliente_contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        .casos-exito {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 20px 0 30px 0;
        }

        .contenedor_casos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
        }

        /* Contacto */

        .contacto {
            display: flex;
            flex-direction: column;
            background: #5E5E5E;
            padding: 3rem 1rem 3rem 1rem;
            width: 100%;
            height: auto;
        }

        .contactanos {
            font-size: 2.3rem;
        }

        .contacto_contenido {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;
            gap: 25px;
        }

        .footer_contenedor--izq {
            width: 100%;
        }

        .contacto_informacion {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0;
            width: 80%;
            gap: 1px;
        }

        .informacion_contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 0;
            gap: 1rem;
        }

        .contacto_icono {
            display: flex;
            color: white;
            font-size: 40px;
            padding: 0;
            margin: 0;
        }

        .contacto_formulario {
            display: flex;
            flex-direction: column;
            width: 95%;
            height: auto;
            justify-content: center;
            align-items: left;
            padding: 5px 0 5px 0;
            gap: 6px;
        }

        .footer_redes-sociales a {
            color: #fff;
            font-size: 3rem;
        }

        .footer_redes-sociales i:hover {
            background: white;
            color: #21B8CC;
        }

        /* Clientes */
        .seccion_texto {
            width: 100%;
        }

        .descripcion {
            padding: 3rem 0 3rem 0;
        }

        .descripcion_parrafo {
            width: 80%;
        }

        .descripcion_texto {
            width: 100%;
        }

        .seccion_titulo--estilo {
            font-size: 2rem;
        }

        .animaciones {
            padding: 2rem 1rem 2rem 1rem;
            gap: 2rem;
        }

        .interactivo {
            padding: 2rem 1rem 2rem 1rem;
            gap: 2rem;
        }

        .infografia {
            padding: 2rem 1rem 2rem 1rem;
            gap: 2rem;
        }

        .articulate {
            padding: 2rem 1rem 2rem 1rem;
            gap: 2rem;
        }

        .apuntes {
            padding: 2rem 1rem 2rem 1rem;
            gap: 2rem;
        }

        .ruta {
            padding: 2rem 1rem 2rem 1rem;
            gap: 2rem;
        }

        .contenedor-animacion {
            width: 100%;
            height: 300px;
            padding: 0;
        }

        .contenedor-interactivo {
            width: 100%;
            height: 300px;
            padding: 0;
        }

        .contenedor_pdf {
            width: 90%;
        }

        .contenedor-animacion--inacap {
            width: 380px;
            height: 200px;
            padding: 1rem;
        }

        .contenedor-animacion--autonoma {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 380px;
            height: 200px;
            padding: 0;
        }

        .contenedor-animacion--autonoma iframe {
            width: 100%;
            height: 100%;
        }

        .infografia_pdf {
            flex-direction: column;
        }

        .apuntes_pdf {
            flex-direction: column;
        }

        /* Autonoma */
        .logo--autonoma {
            padding-top: 8rem;
        }

        .articulate_pdf {
            flex-direction: column;
        }
    }
}